.dashboard-table{
    border: 1px solid black;
    width: 100%;
  }

.dashboard-table th,
.dashboard-table td {
  padding: 10px; /* Adds padding inside each cell */
  text-align: center; 
  vertical-align: middle; 
  border: 1px solid #ddd; /* Adds a light border */
}

.dashboard-table th {
  background-color: #f4f4f4; /* Adds a background to table headers */
}
.text-center{
    text-align: center;
}
.db_button{
    background-color: aquamarine;
    border: 1px solid #cacaca;
    padding: 7px;
    border-radius: 10px;
}
.pie-chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(
        #2421b9 0% 50%,   /* Green: 40% */
        #FFC107 50% 0%,  /* Yellow: 30% */
    );
}